<h1>One Fuckin month rails</h1>
	<p>Home page
		You've found the home page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>

	<p>
		<%= link_to "Sign up you Fucker", new_user_registration_path, class: "btn btn-primary btn-large"%>
	</p>

